[alias]
	st = status
	ci = commit
	cia = commit --amend
	co = checkout
	br = branch
	df = diff
	dfc = diff --cached
	lg = log --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr)' --date=relative
	ls = log --color --graph --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %C(bold blue)<%an>%C(reset) %s %C(green)(%cd)' --abbrev-commit --date=iso
	ll = log --color --graph --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(bold blue)<%an>%C(reset) %C(green)(%cd)' --abbrev-commit --date=relative
